/* profile img */
#profileImg{
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
/* img info */
.textCenter{
  text-align: center;
  margin-top: 25px;
}
/* success progress bar */
.progress-bar-success{
  font-size: 15px;
}
/* changing progress height*/
.progress{
  height: 26px;
}
