.projectImg{
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px #888888;
}
.btn-success {
  margin-bottom: 83px;
}
.btn{
  border-radius: 74px;
}
.up{
  position:fixed;
  border-radius: 50%;
  background-color: white;
  right:10px;
  bottom:10px;
}
.upImg{
  height: 50px;
  width: 50px;
}
#home{
  position: relative;
  height: 10px;
  top: -100px;
}
@media only screen and (min-width:992px){
  .projectImg {
    margin-bottom: 125px;
  }
}
.hide_me{
  opacity:0;
}
.visible{
  opacity:1;
  -vendor-animation-duration: 8s;
  -vendor-animation-delay: 5s;
}
.post{
  -webkit-backface-visibility: hidden;
}
#headerContainer {
  position: relative;
  margin-bottom: 90px;
}
#headerText {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}
#headerImg { 
  width: 100%;
  height: auto;
  height: 400px;
}
#headerTyping, #headerTyping:hover , #headerTyping:active #headerTyping:focus #headerTyping:visited{
  color: white;
  text-decoration: none;
}
