#dcVideo {
    max-width: 100%;
    height: auto;
    width: 50%;
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width: 375px) {
    #dcVideo {
      width: 100%;
    }
}
.dcHeader, #imgHeader{
  text-align: center;
}
#imgHeader{
  margin-top: 50px;
}
#veteransLink{
  margin-top: 24px;
  text-align: center;
}
#imgLink{
  color: blue;
}
#imgLink:hover{
  color: blue;
  text-decoration: underline;
}
#imgLink:focus{
  color: blue;
  text-decoration: underline;
}
